<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Success</title>
</head>
<body>
    <h1>Login Successful</h1>
    <div>
        <p>Name: {{ user_data['name'] }}</p>
        <p>Email: {{ user_data['email'] }}</p>
        <p>College: {{ user_data['college'] }}</p>
        <p>Course: {{ user_data['course'] }}</p>
        <p>Number: {{ user_data['number'] }}</p>
        <p>Role: {{ user_data['role'] }}</p>
        <p>Gender: {{ user_data['gender'] }}</p>
        <p>Date of Birth: {{ user_data['dob'] }}</p>
    </div>
</body>
</html>
